.main-content {
    height: 100vh;
    display: flex;
}

.leftside-navbar, .rightside-navabar, .middle-content {
    height: 100%;
}

.leftside-navbar {
    background-color: #fff;
    width: 20%;
}

.rightside-navbar {
    background-color: #6B00FF;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.middle-content {
    background-color: #E6DBFF;
    width: 75%;
}

.middle-content-dashboard {
    background-color: #FFF;
    margin-left: 2%;
    width: 96%;
    margin-top: 2%;
    height: 96%;
}