html {
    font-size: 14px;
}

.main-content {
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}
/*
* Common rules
*/
a {
    text-decoration: none;
}

.leftside-navbar, .rightside-navbar, .middle-content {
    height: 100%;
}

.leftside-header, .rightside-header {
    height: 12%;
}

/*
* Helpers
*/
.mr {
    margin-right: 1rem;
}

.is-bold {
    font-weight: bold;
}

/*
* Material icons
*/
i {
    font-size: 2rem !important;
    margin: 0.5rem 0;
    padding: 5px;
}

.is-small {
    font-size: 1rem !important;
}

.is-colored {
    color: #FFF;
    border-radius: 5px;
}

.is-yellow {
    background-color: #fffb00;
}

.is-green {
    background-color: #00FFC6;
}

.is-orange {
    background-color: #FF5707;
}

.is-blue {
    background-color: #00D8FC;
}

.is-darkblue {
    background-color: #4829FF;
}

.is-grey {
    background-color: #6e6e6e9a;
}

/*
* Left side Navbar
*/
.leftside-navbar {
    background-color: #fff;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#kognitif-logo {
    width: 60%;
    padding-left: 1rem;
}

.leftside-menus {
    overflow: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftside-item {
    display: flex;
    align-items: center;
    color: #6E6E6E;
    padding-left: 1rem;
}
.leftside-item div {
    display: flex;
    align-items: center;
}

.leftside-item--bottom {
    justify-content: space-between;
}

.leftside-item--selected {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}
.leftside-item--selected-blue {
    color: #6B00FF;
}

.leftside-item i {
    margin-right: 1rem;
}

.leftside-item span {
    margin-left: -1rem;
    flex-grow: 1;
    text-align: center;
}
/*
* Leftside submenu
*/

.submenu li {
    line-height: 200%;
    color: #6E6E6E;
}

.is-hidden {
    display: none;
}

.submenu--top {
    text-align: center;
}

.submenu--selected-top {
    background-color: #E6DBFF;
    color: #6B00FF !important;
}

.submenu--bottom {
    margin-left: 3rem;
    font-weight: bold;
}

.submenu2 li {
    display: flex;
    align-items: center;
}

.with-chevron {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.with-chevron i {
    margin-right: 1rem;
}

#projet-submenu {
    font-weight: normal;
    margin-left: 3rem;
}

/*
* Right side Navbar
*/
.rightside-navbar {
    background-color: #6B00FF;
    width: 5%;
    display: flex;
    flex-direction: column;
}

.rightside-header {
    text-align: center;
}
.rightside-menus {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.rightside-item {
    color: #FFF;
    display: block;
}

.rightside-item i:hover {
    color: #6B00FF;
    background-color: #FFF;
    transition: all 0.5s ease-out;
    border-radius: 50%;
}

.account-icon {
    font-size: 4rem !important;
    margin: 0;
}




/*
* Middle content
*/
.middle-content {
    background-color: #E6DBFF;
    width: 75%;
}

.middle-content-dashboard {
    background-color: #FFF;
    margin-left: 2%;
    width: 96%;
    margin-top: 2%;
    height: 96%;
}